
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color1: #efeada;
    --color2: #2d2c2c; 
    --color3: #ffe925; 
    --title: 'Sagire', serif;
    --text:"Montserrat", sans-serif;
}

@font-face{
    font-family:  'Sagire';
    src:url(../fonts/Sagire-Ea2Dn.otf) format('truetype');
    font-weight:100;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    background-color: var(--color1);
    
}

img {
    width: 100%;
    vertical-align: middle;
}

h1{
    font-family: var(--title);
}

section{
    margin-bottom: 10vw;
}

/* HEADER  */

header {
    background-image: url(../media/NICOLAS\ POUSSIN\ \(1594-1665\)\ eL\ MITO\ DE\ SELENE\ Y\ ENDIMION.jpg);
      height: calc(100vh - 3.5em); 
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      justify-content:end;
      align-items:end;
      object-fit: contain;
      text-align:right;
}

header h1{
    font-size: 19vh;
    color: var(--color3);
    font-weight: 100;
    margin: 2em 0.5em 0em 2em;
}

header h2{
    font-size: 5vh;
    font-family: var(--title);
    color: var(--color3);
    margin: 0em 2em 2em 2em;
}

/* MENU */

.navbar{
    background-color: var(--color2)!important;
    /* border-top: 1px solid var(--color1); */
    --bs-navbar-hover-color:var(--color3);
}

.navbar-brand{
    color: var(--color3);
    font-family: var(--title);
}

.nav-item{
    font-family: var(--title);
}

.nav-item a{
    color: var(--color1);
}

.dropdown-menu{
    background-color:var(--color2) ;
}

.dropdown-item {
    width: auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav{
 margin-right: 0 !important;
}
 /* para botón activo  */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color3);
  
}
/* para q al boton estar activo se quede la linea */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show::before{
    width: 100%;
}

.navbar-toggler {
    border: 1px solid var(--color3);
    color: transparent;
}


.fa-bars{
    color:var(--color3);
}





/* hover  */
/* AAAAAAAAAAAAAAAAA */
.dropdown-item:hover{
    background-color: var(--color2);
    color: var(--color3);
}

  .nav-item a{
    text-decoration: none;
    padding: 0.5em 0px;
    margin: 0px 1em;
    display: inline-block;
    position: relative;
  }
  
  .nav-item a::before{
    transition: 300ms;
    height: 0.1em;
    content: "";
    position: absolute;
    background-color: var(--color3);
    width: 0%;
    bottom: 0.1em;
  }
  
  
  .nav-item a:hover::before {
    width: 100%;
  }



/* STOP MENU */

h1{ /*Esto no se si se puede hacer con boostrap o está bien así*/
    margin: 2em 2em 1em 2em;
    text-align: center;
}


/* MAQUETACION DIVS */
#horoscopo h1{
    font-family: var(--title);
    margin: 2em 2em 1em 2em;
    text-align: center;
}


#horoscopo h2 {
    font-family: var(--title);
    padding-top: 1em;
    margin-bottom: -0.6em;
    text-align: center;
    z-index: 99;
    position: relative;
    font-size: 6vh;
}

#horoscopo p {
text-align: center;
}

.btn{
    border-radius: 30px;
    border: 1px solid var(--color2);
    font-size: 1.9vh;
}

.btn:hover{
    background-color: var(--color2);
    text-emphasis-color: var(--color1);
    color: var(--color1);
    transition-duration: 0.3s;
    border: none;
}

#horoscopo img{
    /* border: 4px solid rgb(233, 65, 9); */
    /* width: 95vh;  candela te quito esto porque hacia scroll horizontal  */
    height: 45vh;
    vertical-align: middle;
    margin: 0em 0 1em;
    border-radius: 60px; 
    object-fit:cover;
}

/* STOP MAQUETACION DIVS */

/* FORMULARIO zodiaco */
.title{
 display:flex;
 flex-direction: row;
 background-color: var(--color2);
 width: 100%;
}
.title img{
    width: 5em;
    margin: 0.5em 3em;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    display: flex;
}

#form p{
    margin:0 2em;
}

#formulario h1{
    margin: 0;
    text-align: center;
    background-color: var(--color2);
    width: 100%;
    color: var(--color1);
    padding: 0.7em;
}

#formulario >h2{
    font-family: var(--text);
    font-size: 3vh;
    padding:2em;
}

#characteristic {
    color:var(--color2);
    font-family: var(--text);
    padding: 0 2em;
 }

 #animated{
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 2em 0;
 }

 #result{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color2) solid 3px;
    padding: 2em;
    width: 80%;
    max-width: 1000px;
    border-radius: 20px;
 }
 #photo{
    width: 60%;
 }

 #output{
    font-family: var(--title);
    font-size: 1.5em;
    padding: 0 0.5em;
 }

 #space{
    font-family: var(--text);
 }
.star{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
 .star img{
    width: 3em;
 }

 .inp{
    background-color: var(--color1);
    color: var(--color2);
    border: solid var(--color2) 2px;
    border-radius: 5px;
    margin-left: 1em;
    padding: 0 0 0 0.5em;
 }

 .c_star{
    width: 1em;
 }
  
  



/* PARTICLES */
#particles-js {
    margin: 1em 0;
    margin-bottom: 10vw;
    position: relative;
    height: 30vh;
    background-color: var(--color2);
}

#particles-js .jeje {
    padding: 2em ;
}

#particles-js h3 {
    font-family: var(--title);
    color: var(--color3);
    font-size: 4vh;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .dech{
    border: 1px solid red;
}
.izq{
    border: 1px solid blue;
} */



#pruebecillas{
    background-color: #2d2c2c;
    height: 50vh;
    
}
.fondo {
   background-color: #2d2c2c;
   border: 10px pink;
   height: 50vh;
}
.agujero{
    height: 10vh;
    border-radius: 60px;
    background-color: transparent;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 1em 3em 3em;
}





.image-part {
    width: 100%;
    height: 400px;
    background-image: url(../media/NICOLAS\ POUSSIN\ \(1594-1665\)\ eL\ MITO\ DE\ SELENE\ Y\ ENDIMION.jpg);
    background-size: cover;
    background-position: center;
}

.left {
    clip-path: ellipse(50% 100% at 25% 100%);
    background-position: center;
}

.center {
    clip-path: ellipse(50% 100% at 25% 100%);
    background-position: center;
}

.right {
    clip-path: ellipse(50% 100% at 25% 100%);
    background-position: center;
}

.rounded-part {
    clip-path: ellipse(50% 100% at 50% 100%);
}


/* CARDS */

.card{
    width: 18em;
    margin: 0.5em;
    background-color: var(--color2);
    color: var(--color1);
    height: 24em;
}

.card-title{
    font-family: var(--title);
}
.card-text{
    font-family: var(--text);
}

.card-footer{
    border: none;
}

.card-img-top{
    height: 10em;
    object-fit: cover;
}

.btn{
    background-color: var(--color2);
    border:var(--color1) 1px solid;
    color: var(--color1);
}

.btn:hover{
    border:var(--color3) 1px solid;
    color: var(--color3);
}

.flickity-prev-next-button{
    width: 2em;
    height: 2em;
    color: var(--color1);
    background-color: var(--color2);
    transition: 0.5s;
    border: var(--color2) solid 1.5px;
}

.flickity-prev-next-button:hover{
    color: var(--color3);
    border: var(--color3) solid 1.5px;
    background-color: var(--color2);

}

.flickity-prev-next-button.previous{
    left: -2.4em;
}

.flickity-prev-next-button.next{
    right: -2.4em;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* SECCIONES PAG2 (mitos.html) */

.p-mitologia{
    text-align: center;
    margin-bottom: -5em;
    width: 53vw;
    font-family: var(--title);
    font-size: larger;
}

.intro-mitos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-size: cover;
}

.title-mitos img{
    width: 3em;
}

.title-mitos {
    display: flex;
    align-items:baseline;
}




/* PRUEBA CARTAS */

#future{
    background-color: var(--color2);
} 

#future h3{
    font-family: var(--title);
    color: var(--color1);
}

.org-future{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain{
    margin:1em;
    width:100%;
    height: 59vh;
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 3em;
    padding-bottom: 6em;
}

.contain img{
    width: 15%;
    opacity: 0.5;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: solid var(--color3) 2px;
    transition: all ease-in-out 0.5s;

}

.contain img:hover{
 width: 25%;
 opacity: 1;
}


.mask img{
    width: 100%;
}
.mask{
    -webkit-mask-image: url(https://cdn-icons-png.flaticon.com/512/32/32341.png);
    mask-image: url(https://cdn-icons-png.flaticon.com/512/32/32341.png);
    mask-position: center center;
    mask-repeat: no-repeat;
} 


/* modal */


  .gallery-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;
  }

  .gallery-image:hover {
    transform: scale(1.05);
  }

  



  .namesign h1{
    margin: 1em;
  }


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal.is-visible {
    display: flex;
  }
  
  .modal-content {
    background: var(--color1);
    padding: 1.5em;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    position: relative;
  }
  
  .modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .modal-text {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--color2);
    color:var(--color1);
    border: none;
    border-radius:50%;
    padding: 0.4em 0.8em;
    cursor: pointer;
    border: 1px solid var(--color2);
  }
  
  .close-button:hover {
    background-color: var(--color1);
    color: var(--color2);
  }

  .modal-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  .prev-button {
    left: -6vw; 
  }
  
  .next-button {
    right: -6vw; 
  }
  
  .modal-nav:hover {
    color: #f0f0f0;
    transform: translateY(-50%) scale(1.2);
  }

  .namesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .namesign img{
    width: 2em;
  }



 